<mat-form-field class="example-form-field">
  <input matInput type="text" placeholder="Query string" [value]="query$ | async" (change)="queryStringChange($event)" />
  <button mat-button *ngIf="query$ | async" matSuffix mat-icon-button aria-label="Clear" (click)="resetQuery()">
    <mat-icon>close</mat-icon>
  </button>
  <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="refreshResult()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-form-field>
<mat-paginator #paginator [length]="length$ | async" [pageIndex]="pageIndex$ | async" [pageSize]="pageSize$ | async" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)">
</mat-paginator>
<mat-table #table [dataSource]="data$ | async" *ngIf="data$ | async">
  <ng-container *ngFor="let column of columns$ | async" [matColumnDef]="column.name">
    <mat-header-cell *matHeaderCellDef>{{ column.name }}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <app-cell [column]="column" [value]="row[column.name]">
      </app-cell>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnNames$ | async"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnNames$ | async"></mat-row>
</mat-table>