<div id="row">
  <mat-paginator #paginator [length]="length$ | async" [pageIndex]="pageIndex$ | async" [pageSize]="pageSize$ | async" [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)">
  </mat-paginator>
  <button mat-mini-fab color="primary" (click)="addEntity()">
    <mat-icon>add</mat-icon>
  </button>
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="removeSelectedRows()">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
</div>
<mat-table #table [dataSource]="data$ | async" *ngIf="data$ | async">
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleSelectAll($event) : null" [checked]="isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? this.selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container *ngFor="let column of columns$ | async" [matColumnDef]="column.name">
    <mat-header-cell *matHeaderCellDef>{{ column.name }}</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <app-cell [column]="column" [value]="row[column.name]" [entity]="row">
      </app-cell>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="columnNames$ | async"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnNames$ | async"></mat-row>
</mat-table>