<h1 mat-dialog-title>Add new {{tableName$ | async}}</h1>
<mat-dialog-content>
  <div *ngFor="let column of columns$ | async">
    <mat-checkbox *ngIf="column.type === 'bool'" [(ngModel)]="values[column.name]"> {{column.name}}</mat-checkbox>
    <mat-form-field *ngIf="column.type === 'string'" class="form-input">
      <input matInput [(ngModel)]="values[column.name]" [placeholder]="column.name" (keydown.enter)="save()" />
    </mat-form-field>
    <mat-form-field *ngIf="isNumerical(column)" class="form-input">
      <input matInput type="number" [(ngModel)]="values[column.name]" [placeholder]="column.name" (keydown.enter)="save()" />
    </mat-form-field>
    <mat-form-field *ngIf="column.simpleDate === true">
      <input matInput [(ngModel)]="values[column.name]" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="column.type === 'date' && !column.simpleDate">
      <input matInput [(ngModel)]="values[column.name]" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <app-file-input *ngIf="column.type === 'image' || column.type === 'blob'" [title]="column.name" (fileChange)="onFileSelected($event, column)"></app-file-input>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="save" mat-button *ngIf="saveInProgress$ | async">
    <mat-progress-spinner diameter="20" mode="indeterminate" class="loading"></mat-progress-spinner>
  </button>
  <button class="save" mat-button *ngIf="!(saveInProgress$ | async)" (click)="save()">
    Save
  </button>
  <button class="close" mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>