<h1 mat-dialog-title>Add new {{tableName$ | async}}</h1>
<mat-dialog-content>
  <div *ngFor="let column of columns$ | async">
    <mat-checkbox *ngIf="column.type === 'bool'" [(ngModel)]="values[column.name]"> {{column.name}}</mat-checkbox>
    <mat-form-field *ngIf="column.type === 'string'" class="form-input">
      <input matInput [(ngModel)]="values[column.name]" [placeholder]="column.name" (keydown.enter)="save()" />
    </mat-form-field>
    <mat-form-field *ngIf="isNumerical(column)" class="form-input">
      <input matInput type="number" [(ngModel)]="values[column.name]" [placeholder]="column.name" (keydown.enter)="save()" />
    </mat-form-field>
    <mat-form-field *ngIf="column.simpleDate === true">
      <input matInput [(ngModel)]="values[column.name]" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="column.type === 'date' && !column.simpleDate">
      <input matInput [(ngModel)]="values[column.name]" [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="column.type === 'image' || column.type === 'blob'" [class.dragover]="files[column.name].dragOver" class="attachment" (drop)="fileDropped($event, column)"
      (dragover)="dragOverFileInput($event, column)" (dragleave)="dragLeaveFileInput(column)">
      <button mat-icon-button class="attachment" color="primary" (click)="fileInput.click()">
        <mat-icon>attachment</mat-icon>
      </button> {{column.name}} <span *ngIf="files[column.name].fileName">({{files[column.name].fileName}})</span>
      <input hidden type="file" #fileInput (change)="fileSelected($event, column)" />
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="save" mat-button (click)="save()">Add</button>
  <button class="close" mat-button (click)="close()">Cancel</button>
</mat-dialog-actions>