<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-list>
      <h1>Dataclasses</h1>
      <mat-list-item *ngFor="let dataclass of dataclasses" (click)="switchDataclass(dataclass)" class="dataclass"> {{dataclass}} </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Query string" [(ngModel)]="query" />
      <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
        <mat-icon>close</mat-icon>
      </button>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="fetchData()">
          <mat-icon>refresh</mat-icon>
      </button>
    </mat-form-field>
    <mat-paginator #paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)">
    </mat-paginator>
    <mat-table #table [dataSource]="data" *ngIf="data">
      <ng-container *ngFor="let column of columns" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>
  </mat-sidenav-content>
</mat-sidenav-container>