mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    padding: 1rem;
}

mat-sidenav-content {
    padding: 1rem;
}

.table {
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    font-size: x-large;
}