<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [opened]="showSidenav$ | async">
    <mat-list>
      <div class="title">
        <button mat-button matSuffix mat-icon-button aria-label="Hide" (click)="toggleSideNav()" *ngIf="showSidenav$ | async" class="menu-toggle">
          <mat-icon title="Hide">menu</mat-icon>
        </button>
        <span>Dataclasses</span>
      </div>
      <mat-list-item *ngFor="let table of tables$ | async" (click)="switchTable(table)" class="table" [ngClass]="{'selected' : table === (tableName$|async)}">
        {{table}} </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-top-bar></app-top-bar>
    <app-data-table></app-data-table>
  </mat-sidenav-content>
</mat-sidenav-container>