mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    padding: 1rem;
}

mat-sidenav-content {
    padding: 1rem;
}

.table {
    cursor: pointer;
}

h1 {
    padding-top: 0rem;
    margin-top: 0rem;
}